.button {
  font-size: 40px;
  height: 50px;
  min-width: 100px;
  padding: 5px;
  font-weight: 700;
  background-color: rgb(39, 188, 207);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &__not-active {
    font-size: 40px;
    height: 50px;
    min-width: 100px;
    padding: 5px;
    font-weight: 700;
    background-color: rgb(143, 180, 185);
    border: none;
    border-radius: 10px;
    color: rgb(104, 101, 101);
  }
}
