.counter {
  display: flex;
  justify-content: center;
  margin-top: 200px;

  &__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    border: 4px solid rgb(39, 188, 207);
    border-radius: 10px;
    padding: 15px;
  }
}
